.projects-con {
  margin: 30px 0;
  width: 70%;
  color: var(--sec-col);
}

.p-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}


@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
