.edu-con {
  width: 70%;
  background-color: transparent;
  margin: 50px 0;
  color: var(--sec-col);
}

.edu-sec {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.edu-con h1 {
  font-family: var(--prime-f);
  font-size: var(--xxl);
}

.edu-sec h2 {
  font-size: var(--xl);
  margin: 50px 0 0 0;
}

.edu-sec p {
  margin: 30px 0;
}

.edu-img {
  width: 300px;
  float: right;
}

@media (max-width:800px) {
  .edu-img{
    float: none;
  }
}