:root {
  --prime-col: black;
  --sec-col: #f8f8f8;
  --accent-col: cyan;
  --xxl: xx-large;
  --xl: x-large;
  --l: large;
  --m: medium;
  --s: small;
  --prime-f: "Rubik", sans-serif;
}

::selection {
  background-color: var(--accent-col);
  color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("/bg5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height:100vh;
}

.a-ul {
  padding-left: 20px;
  list-style: none;
}

.a-li {
  position: relative;
  padding-left: 30px;
  font-size: var(--m);
  padding-top: 10px;
}
.a-li::before {
  content: "🌐";
  position: absolute;
  left: 0;
  font-size: var(--m);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll-animation {
  from {
    opacity: 0;
    scale: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

.scroll-animation-short * {
  animation: scroll-animation;
  animation-timeline: view(99.9% auto);
}

.scroll-animation * {
  animation: scroll-animation;
  animation-timeline: view(85% auto);
}

.fade-in * {
  animation: fade-in 1s 1;
}
