.cursor {
    position: fixed;
    width: 20px;  
    height: 20px;
    background-color:var(--accent-col);  
    border-radius: 50%;
    pointer-events: none;
    z-index: 100000000;
  }
  
  @media (max-width: 850px) {
    .cursor{
      display: none;
    }
    
  }